@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:wght@400;600&display=swap');

:root {
    --color__principal: #0000001a;
    --color__header: #fff;
    --color__footer: #2a2b3f;
    --color__span: #1565c0;
    --color__docente: #d4e6f1;
    --color__boton: #5499c7;
}

body {
    background-color: var(--color__principal);
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

a {
    font-family: 'SUSE Mono', monospace;
}


.contacto_titulo {
    display: flex;
    color: #000000;
    justify-content: center;
    margin-top: 3em;
    padding: 1.25em 0.625em;
}

h3 {
    text-align: center;
    padding: 0.9375em 0;
}

.seccion_datos_oficial {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10em;


}

.seccion_datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: auto;


}

p {
    padding: 0.625em 0.3125em;
}

.completa_el_form {
    text-align: center;
}

.formulario {
    text-align: center;

}

.formulario_input {
    width: 100%;
    border: none;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 3px;
    margin: 2%;
    padding: 0.3125em 0.1875em
}

.formulario_submit {
    width: 30%;
    height: 10%;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    color: #ffffff;
    background-color: #5499c7;
    padding: 0.500em
}


.formulario_submit:hover {
    background-color: white;
    color: #000000;

}

.formulario_submit:active {
    background-color: #000000;
    color: #6c6461;
}


.formulario_consulta {
    min-width: 100%;
    min-height: 7em;
    padding-bottom: 0%;
    resize: none;
    border: 1px solid black
}
#contadorConsulta{
    display: flex;
    justify-content: end;
    padding-top: 0;
    margin-top: 0;
    
    
    

}

.seccion_contacto {

    width: 25em;
    height: auto;
    text-align: left;

}

.info_contacto {
    list-style: none;

}

.lista__item {
    margin: 4%;
}

.seccion_ubicacion {
    display: flex;
    background-color: #1565c0d5;
    color: white;
    padding: 0 0.625em;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 30%;
    margin: 10% auto
}

.ubicacion1 {
    flex: 1;
    max-width: 50%;
}

.ubicacion1 h4 {
    font-size: 24px;

}


.boton {
    display: flex;
    padding: 0.625em 1.875em;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

}

.boton:hover {
    background-color: white;
    color: #6c6461;
}

.ubicacion2 {
    flex: 1;
    max-width: 50%;
    padding: 1.25em;

}

.ubicacion2 iframe {
    width: 100%;
    height: 21.875em;
    border: 0;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #fff;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#dialogoCerrar {
  margin-top: 1em;
  padding: 0.5em 1.2em;
  border: none;
  background-color: #1565c0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#dialogoCerrar:hover {
  background-color: #0d47a1;
}


@media (max-width:60em) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 47em) {
    .seccion_datos_oficial {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: flex-start;
        gap: 10em;
    }

    .seccion_datos {
        width: 30em;
        height: auto;
        margin: 0 auto;
    }

    .seccion_contacto {
        width: 30em;
        margin: 0 auto;
    }

    .lista__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seccion_ubicacion {
        display: flex;
        background-color: #1565c0d5;
        color: white;
        padding: 0 10px;
        align-items: center;
        justify-content: space-between;
        width: 40em;
        height: 30em;
        margin: 10% auto
    }

    .boton {
        padding: 0 3em;
    }

    .boton a {
        padding: 0;
        font-size: 0.250em;
    }

    .ubicacion2 iframe {
        width: 100%;
        height: 25em;
        border: 0;
    }
}

@media (max-width:28em) {
    html {
        font-size: 50%;
    }

    header {
        padding: 2em;
    }

}
