:root {
    --color__boton: #5499c7;
    --color__boton-hover: #0277bd;
    --color__circulo-hover: red;
    --color__persona-hover: rgba(255, 0, 0, 0.351);
}

.inscripcion{
    width: 90%;
    background-color: white;
    padding: 2em;
    border-radius: 0.5em;
    margin: 6em auto;
}

.inscripcion form {
    padding: 0 1em;
}

.inscripcion div {
    margin-top: 1.8em;
}

.inscripcion label {
    display: block;
    margin-bottom: 0.7em;
}

.inscripcion input {
    display: block;
    width: 100%;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
}

.inscripcion select {
    display: block;
    width: 100%;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
}

.agregar {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: var(--color__boton);
    border-radius: 0.5em;
}
.agregar:hover {
    background-color: var(--color__boton-hover);
    color: white;
    cursor: pointer;
}

.personas_cargados{
    width: 90%;
    padding: 0 2em;
    margin: 0 auto;
}

.persona {
    width: 100%;
    display: flex;
    padding: 1em;
    border-radius: 0.5em;
}

.datos_persona{
    display: flex;
    width: 90%;
}

.dato{
    align-items: flex-start;
    width: 30%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid lightgray;
    background-color: white;
}

.circulo{
    display: flex;
    width: 3em;
    margin-left: 2%;
    padding: .6em;
    border-radius: 50%;
    border: 1px solid black;
    background-color: var(--color__circulo-hover);
}
.persona:has(.circulo:hover) {
    background-color: var(--color__persona-hover)
}

.circulo:hover{
    cursor: pointer;
}
.menos{
    margin: auto;
    width: 100%;
    height: 30%;
    background-color: white;
}

.total{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0 2em;
    margin: 2em auto ;    
}

.precio{
    margin: 1em;
}
.inscribir{  
    text-align: center;
    display: block;
    width: 100%;
    max-width: 10em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--color__boton);
    color: black;
}

.inscribir:hover {
    background-color: var(--color__boton-hover);
    color: white;
    cursor: pointer;
}

@media (min-width: 28em) {
    .inscripcion {
        width: 80%;
        margin-top: 8em;
    }
}

@media (min-width: 47em) {
    main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .personas_cargados {
        width: 45%;
        margin: 8em 0;
        padding: 0;
        padding-top: 2em;
        max-width: 60em;
    }

    .persona{
        padding-right: 0;
    }
    
    .inscripcion {
        width: 45%;
        margin: 8em 2em 1em 0;
        max-width: 60em;
    }

    .inscripcion form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .inscripcion div {
        width: 47.5%;
    }
}

@media (min-width: 60em) {
    /* .inscripcion {
        padding: 1em;
    }
    
    .personas_cargados{
        padding-top: 1em;
    } */
}