@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:wght@400;600&display=swap');

:root {
    --color__principal: #0000001a;
    --color__header: #fff;
    --color__footer: #2a2b3f;
    --color__span: #1565c0;
    --color__docente: #d4e6f1;
    --color__boton: #5499c7;
}

body {
    background-color: var(--color__principal);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

a {
    font-family: 'SUSE Mono', monospace;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
    overflow-x: hidden;
}

.perfil-contenedor {
    margin-top: 6em;
    width: 100%;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* ===== Tarjetas (secciones) ===== */
.perfil-info,
.perfil-carrito,
.perfil-compras {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* ===== Títulos ===== */
.perfil-info h1,
.perfil-carrito h2,
.perfil-compras h2 {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 600;
    color: #0077ff;
}

.perfil-info p {
    margin: 0.4rem 0;
    line-height: 1.5;
}

#btnLogout {
    background: #0077ff;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2em;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1em;
    font-weight: 500;
}

#EliminarCuenta {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2em;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1em;
    font-weight: 500;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul li {
    padding: 0.8em 0.6em;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    border-bottom: none;
}

footer {
    width: 100%;
}

/*INICIO RESPONSIVE*/
@media (max-width:60em) {
    html {
        font-size: 70%;
    }

    .perfil-contenedor {
        grid-template-columns: 1fr, 1fr, 1fr;
        gap: 1.5rem;
        margin-top: 5em;
    }
}

@media (max-width: 47em) {

    /*INICIO RESPONSIVE HEADER*/
    .header .header__menu {
        display: block;
    }

    /*FIN RESPONSIVE HEADER*/
    .perfil-contenedor {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin-top: 5em;
    }


}

@media (max-width:28em) {
    html {
        font-size: 50%;
    }

    .perfil-contenedor {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin-top: 5em;
    }
}

/*FIN RESPONSIVE*/
